<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>The Dog Blog - Home</title>
</head>
<body>
    <nav>
        <ul class="nav justify-content-center">
            {% if request.session.user_id == True %}
            <li class="nav-item">
                <a class="nav-link" href="user_edit">User Edit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="logout">Logout</a>
            </li>
            <!--Friends List button for Navbar-->
            <li class="nav-item">
                <a class="nav-link" href="/{{user.id}}/friends">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register">Register</a>
            </li>
            {% endif %}    
            <li class="nav-item">
                <a class="nav-link" href="post">Post</a>
            </li>
        </ul>
    </nav>
    <div class="d-flex justify-content-center">
        <h1>The Dog Blog</h1>
    </div>
    {% for post in posts %}
    <div class="">
        <h2 class="d-flex justify-content-center">Friends Posts</h2>
            <!-- Not sure if this will work, need model to test -->
        {% if post.friend == user.friend %}
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src={{ post.filepath.url }}>
                <div>
                    <h4 class="card-title">{{ post.title }}</h1>
                    <h5 class="card-text">{{ post.created_at }} by {{ post.user }}</h4>
                    <p class="card-text">{{ post.text }}</p>
                    <a class="btn btn-primary" href="/post/{{Post.id}}">View Page</a>
                </div>
            </div>
        </div>
        <h2 class="d-flex justify-content-center mt-5">Recent Posts</h2>
        {% else %}
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src={{ post.filepath.url }}>
                <div>
                    <h4 class="card-title">{{ post.title }}</h1>
                    <h5 class="card-text">{{ post.created_at }} by {{ post.user }}</h4>
                    <p class="card-text">{{ post.text }}</p>
                    <!--added link to take to the View Post page-->
                    <a class="btn btn-primary" href="/post/{{post.id}}">Comment</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</body>
</html>