<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>The Dog Blog - Home</title>
</head>
<body>
    <nav>
        <ul class="nav justify-content-center">
            {% if request.session.user_id == True %}
            <li class="nav-item">
                <a class="nav-link" href="/edit_page">User Edit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <!--Friends List button for Navbar-->
            <li class="nav-item">
                <a class="nav-link" href="/{{user.id}}/friends">Friends List</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login_register">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login_register">Register</a>
            </li>
            {% endif %}    
            <li class="nav-item">
                <a class="nav-link" href="submission_page">Post</a>
            </li>
        </ul>
    </nav>
    <div class="d-flex justify-content-center">
        <h1>The Dog Blog</h1>
    </div>
    
    <div class="">
        {% for post in posts %}
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src={{ post.dogimage.url }}>
                <div>
                    <h2 class="card-title">{{ post.dog_name }}</h2>
                    <h6 class="card-title">Breed: {{ post.breed }}</h6>
                    <h6 class="card-title">Age: {{ post.age }}</h6>
                    <h6 class="card-title">Age: {{ post.color }}</h6>
                    <p class="card-text">{{ post.desc }}</p>
                    <p class="card-text">Created on {{ post.created_at }} by {{ post.posted_by.first_name }} {{ post.posted_by.last_name }}</p>
                    <!--added link to take to the View Post page-->
                    <a class="btn btn-primary" href="/post/{{post.id}}">Comment</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</body>
</html>