<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
</head>
<body>
    <div id="login_pattern">
        <div id="register">
            <h1>Registration</h1>
            {% if messages %}
                {% for message in messages %}
                    {% if message.extra_tags == "register" %}
                        <p><strong>{{message}}</strong></p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <form action="/register" method="POST">
                {% csrf_token %}
                <div>
                    <label>First Name:</label>
                    <input type="text" name="first_name">
                </div>
                <div>
                    <label>Last Name:</label>
                    <input type="text" name="last_name">
                </div>
                <div>
                    <label>Email:</label>
                    <input type="email" name="email">
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" name="password">
                </div>
                <div>
                    <label>Confirm PW:</label>
                    <input type="password" name="confirm_password">
                </div>
                <div>
                    <label>DOB:</label>
                    <input type="date" name="birthdate" 
                    value="2000-01-01" min="1970-01-01" max="2021-09-10">
                </div>
                <div>
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
        
        <div id="login">
            <h1>Login</h1>
            {% if messages %}
                {% for message in messages %}
                    {% if message.extra_tags == "login" %}
                        <p><strong>{{message}}</strong></p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <form action="/login" method="POST">
                {% csrf_token %}
                <div>
                    <label>Email</label>
                    <input type="email" name="email">
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" name="password">
                </div>
                <div>
                    <input type="submit" value="Log In">
                </div>
            </form>
        </div>
    </div>
</body>
</html>