<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Submission page</title>
</head>
<body>
    <nav>
        <ul class="nav justify-content-center">
            {% if request.session.user_id == True %}
            <li class="nav-item">
                <a class="nav-link" href="/edit_page">User Edit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <!--Friends List button for Navbar-->
            <li class="nav-item">
                <a class="nav-link" href="/{{user.id}}/friends">Friends List</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login_register">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login_register">Register</a>
            </li>
            {% endif %}    
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
    </nav>
    <div>
        <div>
            <h1>Thanks for joining "The Dog Blog" {{user.first_name}}</h1>
            <br>
            <p>Enter your post here:</p>
            <br>
            {% if messages %}
                {% for message in messages %}
                    <p><strong>{{message}}</strong></p>
                {% endfor %}
            {% endif %}
            <form action="/create_post" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <label>Dog's Name:</label>
                    <input type="text" name="dog_name">
                </div>
                <div>
                    <label>Breed:</label>
                    <input type="text" name="breed">
                </div>
                <div>
                    <label>Color:</label>
                    <input type="text" name="color">
                </div>
                <div>
                    <label>Age:</label>
                    <input type="text" name="age">
                </div>
                <div>
                    <label>Description:</label>
                    <textarea name="desc" rows="15" cols="60"></textarea>
                </div>
                <div>
                    <label>Dog image</label>
                    <input type="file" name="dogimage">
                </div>
                <div>
                    <input type="submit" value="Create">
                </div>
            </form>
        </div>
        <br>
        <br>
</body>
</html>