<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <title>The Dog Blog - View Post</title>
    </head>
    <body>
        <nav>
            <ul class="nav justify-content-center">
                {% if request.session.user_id == True %}
                <li class="nav-item">
                    <a class="nav-link" href="user_edit">User Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <!--Friends List button for Navbar-->
                <li class="nav-item">
                    <a class="nav-link" href="/{{user.id}}/friends">Friends List</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login_register">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login_register">Register</a>
                </li>
                {% endif %}    
                <li class="nav-item">
                    <a class="nav-link" href="/submission_page">Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
        </nav>
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <div>
                    <img class="card-img-top" src={{ post.dogimage.url }}>
                    <h2 class="card-title">{{ post.dog_name }}</h2>
                    <h6 class="card-title">Breed: {{ post.breed }}</h6>
                    <h6 class="card-title">Age: {{ post.age }}</h6>
                    <h6 class="card-title">Color: {{ post.color }}</h6>
                    <p class="card-text">{{ post.desc }}</p>
                    <p class="card-text">Created on {{ post.created_at }} by {{ post.posted_by.first_name }} {{ post.posted_by.last_name }}</p>

                    <!--tracker for how many users favorited post -->
                    <p class="card-text">{{ count }} users have favorited</p>


                </div>
            </div>
            <!--leave a comment-->
            <div class="card">
                <div class="card-body">
                    <!--favorite/unfavorite this post-->
                    <!--unfavorite-->
                    <h5>Favorite this Post!</h5>
                    {% if this_user in post.favorites.all %}
                        <form action="/unfavorite_post/{{post.id}}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit">Unfavorite</button> 
                        </form>
                    {% else %}
                    <!--favorite-->
                        <form action="/favorite_post/{{post.id}}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit">Favorite Post</button> 
                        </form>
                        {% endif %}
                        <hr>
                        {% if messages %}
                            {% for message in messages %}
                                    <p>{{message}}</p>
                            {% endfor %}
                        {% endif %}
                        <form action="/comment/{{post.id}}" method='POST'>
                            {% csrf_token %}
                            <label>Leave a Comment:</label>
                            <input type="text" name="statement">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                    <br>
                    <h6>User Comments</h6>
                    <hr>
                    <!--see comments from users-->
                    {% for Comment in comments %}
                        <p class="card-text">{{ Comment.owner.first_name }} Commented : {{ Comment.statement }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>