<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <title>The Dog Blog - View Post</title>
    </head>
    <body>
        <nav>
            <ul class="nav justify-content-center">
                {% if request.session.user_id == True %}
                <li class="nav-item">
                    <a class="nav-link" href="user_edit">User Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <!--Friends List button for Navbar-->
                <li class="nav-item">
                    <a class="nav-link" href="/{{user.id}}/friends">Friends List</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login_register">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login_register">Register</a>
                </li>
                {% endif %}    
                <li class="nav-item">
                    <a class="nav-link" href="post">Post</a>
                </li>
            </ul>
        </nav>
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src={{ post.filepath.url }}>
                <div>
                    <h4 class="card-title">{{ post.title }}</h1>
                    <h5 class="card-text">{{ post.created_at }} by {{ post.user }}</h4>
                    <p class="card-text">{{ post.text }}</p>

                    <!--tracker for how many users favorited post -->
                    <p class="card-text">{{ count }} users have favorited</p>

                    <!--favorite/unfavorite this post-->
                    <!--unfavorite-->
                    {% for user in post.favorites.all %}
                        <form action="/favorite_post/{{post.id}}" method="POST">
                            {% csrf_token %}
                            <button type="submit">Stop Tracking</button> 
                        </form>
                    {% endfor %}
                    <!--favorite-->
                    {% for user in all_users %}
                        {% if user not in post.favorites.all %}
                            <form action="/unfavorite_post/{{post.id}}" method="POST">
                                {% csrf_token %}
                                <button type="submit">Track Item</button> 
                            </form>
                        {% endif %}
                    {% endfor %}


                    <!--see comments from users-->
                    {% for Comment in comments %}
                        <p class="card-text">{{ Comment.owner.first_name }} Commented : {{ Comment.statement }}</p>
                    {% endfor %}
                </div>
            </div>

            <!--leave a comment-->
            <div class="card">
                <div class="card-body">
                    <form action="/comment/{{post.id}}" method='POST'>
                        {% csrf_token %}
                        <input type="textarea" value="leave a comment">
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>